<page-header [title]="'Documentos'" />

<div class="document-container">
  <!-- <nz-skeleton-element width="1200" *ngIf="array.length <= 0" nzType="image" [nzActive]="true"></nz-skeleton-element> -->
  <nz-skeleton class="document-card" *ngIf="array.length <= 0"></nz-skeleton>
  <nz-carousel *ngIf="array.length > 0" class="document-card" [nzEffect]="effect">
    <div *ngFor="let item of array; trackBy: trackByFn" nz-carousel-content>
      <nz-demo-image-basic [imageUrl]="item"></nz-demo-image-basic>
    </div>
  </nz-carousel>
  <div class="additional-info">
    <table class="info-table">
      <thead>
        <tr>
          <th>Campo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nombre</td>
          <td> <input [(ngModel)]="userInfo.first_name" placeholder="Ingresa un Rut"></td>

        </tr>
        <tr>
          <td>Apellido</td>
          <td> <input [(ngModel)]="userInfo.last_name" placeholder="Ingresa un Rut"></td>

        </tr>
        <tr>
          <td>Edad</td>
          <td>{{age}} años</td>
        </tr>
        <tr>
          <td>Sexo</td>
          <td>{{ userInfo.sex == 2 ? 'Femenino' : this.userInfo.sex === 1 ? 'Masculino' : 'Sin Informar' }}</td>
        </tr>
        <td>Identificador</td>
        <td>
          <input [(ngModel)]="userInfo.id_number" (ngModelChange)="validarRut2()"
            [ngClass]="{'invalid-rut': !isValidRut}" placeholder="Ingresa un Rut">
          <div *ngIf="!isValidRut" class="error-message">RUT inválido</div>
        </td>
        <tr>
          <td>
            Tipo de usuario
          </td>
          <td>
            <nz-select class="fixed-width-select" nzShowSearch nzAllowClear nzPlaceHolder="Seleccione una opción" [(ngModel)]="selectedValue">
              <nz-option nzLabel="Sin validar" nzValue="0"></nz-option>
              <nz-option nzLabel="Chileno Full" nzValue="2"></nz-option>
              <nz-option nzLabel="Extranjero full" nzValue="3"></nz-option>
              <nz-option nzLabel="Chileno sin compensacion" nzValue="4"></nz-option>
              <nz-option nzLabel="Extranjero sin compensacion" nzValue="5"></nz-option>

            </nz-select>
          </td>

        </tr>
      </tbody>
    </table>
    <div class="button-container">
      <button nz-button nzType="primary" (click)="approveUser()" [disabled]="!isValidRut || selectedValue =='0'">Aprobar</button>
      <button nz-button nzType="primary" nzDanger (click)="rejectUser()">Rechazar</button>
    </div>
  </div>
</div>
