<page-header [title]="'Documentos'" />

<div class="document-container">
  <!-- Documentos -->
  <div class="document-card" *ngFor="let key of getObjectKeys(data2)">
    <div class="document-thumbnail" (click)="openModal(data2[key])">
      <img [src]="data2[key] || fallback" alt="{{ 'd' }}" />
    </div>
    <div class="document-info">
      <div class="document-name">Documento a evaluar</div>
    </div>
  </div>

  <!-- Información adicional -->
  <div class="additional-info">
    <table class="info-table">
      <thead>
        <tr>
          <th>Campo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nombre</td>
          <td>{{userInfo.first_name}}</td>
        </tr>
        <tr>
          <td>Nacionalidad</td>
          <td>chilena</td>
        </tr>
        <tr>
          <td>Sexo</td>
          <td>{{ userInfo.sex == 1 ? 'Masculino' : 'Femenino' }}</td>
        </tr>
        <tr>
          <td>Rut</td>
          <td>1942435-1</td>
        </tr>
      </tbody>
    </table>
    <div class="button-container">
      <button class="btn btn-approve" (click)="approveUser()">
        <i class="fas fa-check"></i> Aprobar
      </button>
      <button class="btn btn-reject" (click)="rejectUser()">
        <i class="fas fa-times"></i> Rechazar
      </button>
    </div>
  </div>
</div>
