<div class="container">
  <header-i18n showLangText="false" class="langs" />
  <div class="wrap">
    <div class="top">
      <div class="head">
        <span class="title">Get</span>
        <img class="logo" src="./assets/logo.svg" />
      </div>
      <div class="desc">Administrador GetGO</div>
    </div>
    <router-outlet />
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2021 <a href="//github.com/cipchk" target="_blank"></a>
    </global-footer>
  </div>
</div>
<theme-btn />
