.modal-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  //justify-content: space-around;
  margin-right: 20px;
}


.im {
  max-width: 700px;
  max-height: 700px;
}

.text-list {
  padding: 0;
  list-style: none;
}

.text-list li {
  margin-bottom: 5px;
}



.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 1rem;
}

.col:first-child {
  flex: 2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

strong {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}


nz-select {
  width: 200px;
}

// .expanded {
//   position: fixed; /* Puedes ajustar la posición según tus necesidades */
//   inset: 0; /* Ajusta la posición superior según tus necesidades */ /* Ajusta la posición derecha según tus necesidades */ /* Ajusta la posición inferior según tus necesidades */ /* Ajusta la posición izquierda según tus necesidades */
//   z-index: 9999; /* Ajusta el índice z para que la imagen esté por encima del contenido */
//   width: 700px; /* Cambia el ancho al 90% para hacer que la imagen sea más grande */
//   height: 700px; /* Ajusta la altura automáticamente para mantener la proporción */
//   margin: auto; /* Centra la imagen en la pantalla */
//   cursor: zoom-out; /* Cambia el cursor al hacer clic para indicar que la imagen se puede reducir */
// }

// .im:not(.expanded) {
//   z-index: 9999;

// }

// .im() {
//   max-width: 2700px;
//   max-height: 2700px;

// }



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}


.button-container {
  margin-top: 10px; /* Opcional: Agrega un margen superior para separar los botones */
  text-align: right; /* Alinea el contenido a la derecha */
}

/* Opcional: Agrega un margen derecho a los botones para espaciarlos */
.button-container button {
  margin-right: 10px;
}

.rechazar-button.ant-radio-button-wrapper-checked {
  color: white; /* Color del texto en el botón cuando está seleccionado */
  background-color: #f00; /* Color de fondo rojo cuando está seleccionado */
  border-color: #f00; /* Borde del botón rojo cuando está seleccionado */
}


.rechazar-button.ant-radio-button-wrapper:hover {
  color: white; /* Color del texto en el botón al hacer hover */
  background-color: #f00; /* Color de fondo rojo al hacer hover */
  border-color: #f00; /* Borde del botón rojo al hacer hover */
}

.approve-button.ant-radio-button-wrapper-checked {
  color: white; /* Color del texto en el botón cuando está seleccionado */
  background-color: #007bff; /* Color de fondo rojo cuando está seleccionado */
  border-color: #007bff; /* Borde del botón rojo cuando está seleccionado */
}


.approve-button.ant-radio-button-wrapper:hover {
  color: white; /* Color del texto en el botón al hacer hover */
  background-color: #007bff; /* Color de fondo rojo al hacer hover */
  border-color: #007bff; /* Borde del botón rojo al hacer hover */
}
