 <div class="custom-modal container">
  <div class="table-container">
    <table class="ant-table">
      <thead>
        <tr>
          <th>Campo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nombre</td>
          <td>{{ userDetailModal.first_name }}</td>
        </tr>
        <tr>
          <td>Sexo</td>
          <td>{{ userDetailModal.sex == 2 ? 'Femenino' : this.userDetailModal.sex === 1  ? 'Masculino' : 'Sin Informar' }}</td>
        </tr>
        <tr>
          <td>Matrícula</td>
          <td>{{ driverInfo?.serial }}</td>
        </tr>
        <tr>
          <td>Modelo vehículo</td>
          <td>{{ driverInfo?.brand }}</td>
        </tr>
        <tr>
          <td>Color vehículo</td>
          <td>{{ driverInfo?.color }}</td>
        </tr>
        <tr>
          <td>Año vehículo</td>
          <td>2017</td>
        </tr>
        <tr *ngIf="keyName == 'padron'">
          <td>Tipo de vehículo</td>
          <td>
            <ng-container *ngIf="keyName == 'padron'">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="tipo de vehículo " [(ngModel)]="selectedValue" class="fixed-width-select">
                <nz-option nzLabel="GetgoCar" nzValue="1"></nz-option>
                <nz-option nzLabel="Ejecutivo" nzValue="2"></nz-option>
                <nz-option nzLabel="GetgoXL" nzValue="3"></nz-option>
                <nz-option nzLabel="Taxi" nzValue="4"></nz-option>
              </nz-select>
            </ng-container>
          </td>
        </tr>
        <tr *ngIf="keyName == 'indenfitication_front'">
          <td>Identificador </td>
          <td>
            <input [(ngModel)]="id_number"
                   (ngModelChange)="validarRut2()"
                   [ngClass]="{'invalid-rut': !isValidRut}"
                   placeholder="Ingresa un Rut">
                   <div *ngIf="!isValidRut" class="error-message">RUT inválido</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="image-container">
    <nz-demo-image-basic class="user-image" [imageUrl]="img"></nz-demo-image-basic>
    <!-- <img class="user-image" nz-image width="100%" height="100%" nzSrc="{{img}}" /> -->
  </div>
</div>
<ng-template *ngIf="keyName !== 'indenfitication_front' && keyName !== 'padron'"[nzModalFooter]>
  <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Aprobar</button>
  <button nz-button nzType="default" (click)="handleCancel()">Rechazar</button>
</ng-template>

<ng-template *ngIf="keyName == 'padron'" [nzModalFooter]>
  <button nz-button
          nzType="primary"
          (click)="handleOk()"
          [nzLoading]="isConfirmLoading"
          [disabled]="!selectedValue">Aprobar</button>
  <button nz-button
          nzType="default"
          (click)="handleCancel()">Rechazar</button>
</ng-template>

<ng-template *ngIf="keyName == 'indenfitication_front'" [nzModalFooter]>
  <button nz-button
          nzType="primary"
          (click)="handleOk()"
          [nzLoading]="isConfirmLoading"
          [disabled]="!isValidRut">Aprobar</button>
  <button nz-button
          nzType="default"
          (click)="handleCancel()">Rechazar</button>
</ng-template>
