.modal-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}

.im {
  max-width: 500px; /* Tamaño máximo de la imagen */
  max-height: 600px; /* Espacio entre la imagen y la lista de texto */
}

.text-list {
  padding: 0; /* Elimina el relleno predeterminado de la lista */
  list-style: none; /* Elimina los puntos de la lista */
}

.text-list li {
  margin-bottom: 5px; /* Espacio entre elementos de la lista */
}



.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 1rem;
}

.col:first-child {
  flex: 2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

strong {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}


nz-select {
  width: 200px;
}

// .expanded {
//   position: fixed; /* Puedes ajustar la posición según tus necesidades */
//   inset: 0; /* Ajusta la posición superior según tus necesidades */ /* Ajusta la posición derecha según tus necesidades */ /* Ajusta la posición inferior según tus necesidades */ /* Ajusta la posición izquierda según tus necesidades */
//   z-index: 9999; /* Ajusta el índice z para que la imagen esté por encima del contenido */
//   width: 700px; /* Cambia el ancho al 90% para hacer que la imagen sea más grande */
//   height: 700px; /* Ajusta la altura automáticamente para mantener la proporción */
//   margin: auto; /* Centra la imagen en la pantalla */
//   cursor: zoom-out; /* Cambia el cursor al hacer clic para indicar que la imagen se puede reducir */
// }

// .im:not(.expanded) {
//   z-index: 9999;

// }

// .im() {
//   max-width: 2700px;
//   max-height: 2700px;

// }



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}
