<!-- <page-header [title]="'Viajes'" />
<nz-card [nzBordered]="true">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getTripsFilter()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="13" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">Búsqueda</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.email" name="no" placeholder="Búsqueda" id="pk" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="updatedAt" />
          <nz-form-control>
            <nz-date-picker id="updatedAt" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="status2" />
          <nz-form-control>
            <nz-select [nzPlaceHolder]="''" nzId="status2" [nzShowSearch]="true">
              <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="idx" />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="status3" />
          <nz-form-control>
            <nz-select [nzPlaceHolder]="''" nzId="status3" [nzShowSearch]="true">
              <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="idx" />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="search-buttons">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">Filtrar</button>
        <button nz-button type="reset" (click)="getTrips()">Reset</button>
      </div>
    </div>
  </form>

  <div class="my-xl"></div>
  <st #st [size]="'middle'" [columns]="columns" [ps]="5" [data]="data" [loading]="loading" (change)="stChange($event)">
    <ng-template st-row="status" let-i>
      <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText" />
    </ng-template>
  </st>
</nz-card> -->

<div class="filter-container">
  <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
    <div class="filter-grid">
      <div class="filter-row">
        <label><b>Fecha incial</b></label>
        <nz-date-picker formControlName="startDate" nzFormat="dd/MM/yyyy"></nz-date-picker>
      </div>
      <div class="filter-row">
        <label><b>Fecha Final</b></label>
        <nz-date-picker formControlName="endDate" nzFormat="dd/MM/yyyy"></nz-date-picker>
      </div>
      <div class="filter-row">
        <label><b>Dirrecion Origen</b></label>
        <input nz-input formControlName="address_origin" placeholder="Dirrecion" />
      </div>
      <div class="filter-row">
        <label><b>Dirrecion Destino</b></label>
        <input nz-input formControlName="address_delivery" placeholder="Dirrecion" />
      </div>
      <div class="filter-row">
        <label><b>Pasajero</b></label>
        <input nz-input formControlName="user_customer" placeholder="Pasajero" />
      </div>
      <div class="filter-row">
        <label><b>Conductor</b></label>
        <input nz-input formControlName="user_delivery" placeholder="Conductor" />
      </div>
    </div>
    <div class="button-container">
      <button nz-button nzType="primary" htmlType="submit">Filtrar</button>
      <button nz-button nzType="default" (click)="resetFilters()">Limpiar</button>
    </div>
  </form>
</div>
<nz-table #filterTable [nzData]="data" nzTableLayout="fixed" nzBordered>
  <thead>
    <tr>
      <th>Dirrecion Origen</th>
      <th>Dirrecion Destino</th>
      <th>Pasajero</th>
      <th>Conductor</th>
      <th>Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.address_origin }}</td>
      <td>{{ data.address_delivery }}</td>
      <td>{{ data.user_customer.email }}</td>
      <td>{{ data.user_delivery.email }}</td>
      <td (click)="tripDetail(data.pk)">Detalle</td>
    </tr>
  </tbody>
</nz-table>
