<page-header [title]="'Documentos'" [titleSub]='userName' />
<nz-skeleton *ngIf="loading" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
<table *ngIf="!loading" class="document-table">
  <thead>
    <tr>
      <th>Documento</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let key of getObjectKeys(data2)">
      <td (click)="openModal(data2[key], key)">
          {{ DocumentEnum[key] }}
      </td>
      <!-- <td>
        <img [src]="data2[key] || fallback" alt="{{ data2[key].name }}" class="document-thumbnail" (click)="openModal(data2[key], key)" />
      </td> -->
      <td >
        <ng-container  *ngIf="DocumentEnum[key] === 'Tipo de Vehiculo'">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Tipo de vehiculo" [(ngModel)]="selectedValue">
            <nz-option nzLabel="GetgoCar" nzValue="1"></nz-option>
            <nz-option nzLabel="Ejecutivo" nzValue="2"></nz-option>
            <nz-option nzLabel="GetgoXL" nzValue="3"></nz-option>
            <nz-option nzLabel="Taxi" nzValue="4"></nz-option>
          </nz-select>
        </ng-container>
        <ng-container *ngIf="DocumentEnum[key] !== 'Tipo de Vehiculo'">
          <nz-radio-group [(ngModel)]="selectedValues[key]" nzButtonStyle="solid">
            <label nz-radio-button [nzValue]="data2[key]">APROBAR</label>
            <label class="rechazar-button" nz-radio-button nzValue="">Rechazar</label>
          </nz-radio-group>
      </ng-container>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <button class="btn btn-approve" (click)="approveUser()">Aprobar</button>
  <button class="btn btn-reject" (click)="rejectUser()">Rechazar</button>
</div>


<!-- <page-header [title]="'Documentos'"></page-header>

<nz-card class="carousel-card">
  <div nz-card-meta>
    <div nz-card-meta-title>Imágenes de Documentos</div>
  </div>
  <nz-carousel [nzEffect]="'fade'" style="max-width: 100%">
    <div nz-carousel-content *ngFor="let document of documents">
      <div class="image-container">
        <img [src]="document.imageUrl" alt="{{ document.description }}" />
      </div>
      <div class="description">{{ document.description }}</div>
    </div>
  </nz-carousel>
</nz-card> -->
