<page-header [title]="'Documentos:  ' + userName" />
<nz-skeleton *ngIf="loading" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
<table *ngIf="!loading" class="document-table">
  <thead>
    <tr>
      <th>Documento</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let key of getObjectKeys(data2)">
      <td *ngIf="DocumentEnum[key] !== 'Tipo de Vehiculo'" (click)="openModal(data2[key], key)">
        {{ DocumentEnum[key] }}
      </td>
      <td>
        <ng-container *ngIf="DocumentEnum[key] !== 'Tipo de Vehiculo'">
          <label nz-checkbox nzDisabled [(ngModel)]="selectedValues[key]"
            [ngClass]="{'red-checkbox': selectedValues[key] == '', 'blue-checkbox': selectedValues[key] === data2[key]}">
          </label>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-right">
  <button class="btn btn-approve" (click)="approveUser()">Aprobar</button>
  <button class="btn btn-reject" (click)="rejectUser()">Rechazar</button>
</div>

