<div nz-row nzGutter="24" class="py-lg">
  <div nz-col nzMd="24" nzLg="7">
    <nz-card [nzBordered]="false" class="mb-lg" [nzLoading]="!userDetail">
      <ng-container *ngIf="userDetail">
        <div class="avatar-holder">
          <img [src]="'https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg'" />
          <div class="name">{{ userDetail.first_name }} {{ userDetail.last_name }}</div>
          <nz-switch (click)="updateStatusUser()"  [(ngModel)]="activeUser"></nz-switch>
        </div>
        <div class="detail">
          <p> <span nz-icon nzType="user" nzTheme="outline"></span> {{ userDetail.sex === Driver.Pasajero ? 'Pasajero' : 'Conductor' }}</p>
          <p><span nz-icon nzType="phone" nzTheme="outline"></span> {{ userDetail.phone }}</p>
          <p> <span nz-icon nzType="woman" nzTheme="outline"></span>  {{ userDetail.sex === Sexo.Hombre ? 'Hombre' : userDetail.sex === Sexo.Mujer ? 'Mujer' : 'Sin Informar'}}</p>
          <p>
            <span nz-icon nzType="mail" nzTheme="outline"></span>
            {{ userDetail.email }}
          </p>
          <p>
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            {{ '10 de marzo de 2023' }}
          </p>
          <p>
            <span nz-icon nzType="barcode" nzTheme="outline"></span>
            Referido: {{ userDetail.code }}
          </p>
          <p>
            <span nz-icon nzType="calendar" nzTheme="outline"></span>
            Dias restantes: {{ userDetail.days_remains }}
          </p>
          <p>
            <span nz-icon nzType="book" nzTheme="outline"></span>
            Puntos: {{ userDetail.points }}
          </p>
          <p>
            <span nz-icon nzType="book" nzTheme="outline"></span>
            Ciclos: {{ userDetail.ciclos }}
          </p>
          <p>
            <span nz-icon nzType="calculator" nzTheme="outline"></span>
            Consumido periodo: {{ userDetail.consume_period }}
          </p>
          <!-- <p>
            Activar/Desactivar: <nz-switch [(ngModel)]="activeUser"></nz-switch>
          </p> -->

        </div>
      </ng-container>
    </nz-card>
  </div>
  <div nz-col nzMd="24" nzLg="17">
    <nz-card *ngIf="userDetail.first_name" class="tabs-card" [nzBordered]="false">
      <nz-tabset nzCentered>
        <ng-container>
          <nz-tab nzTitle="Viajes"><app-user-trips [userPk]="pk || '0'" /></nz-tab>
        </ng-container>
        <!-- <nz-tab nzTitle="Editar"><app-user-detail-edit /></nz-tab> -->
        <nz-tab nzTitle="Instantanea GetGO"><app-table [userInfo]="userDetail" /></nz-tab>
      </nz-tabset>
    </nz-card>
  </div>
</div>
