<div class="travel-list-container">
  <div class="travel-list" *ngIf="userTrips[0]?.address_delivery">
    <nz-card *ngFor="let trip of userTrips" class="card">
      <div class="card-header">
        <span class="card-title">{{ userTrips[0].address_delivery }}</span>
      </div>
      <nz-timeline>
        <nz-timeline-item [nzColor]="'blue'">{{ trip.address_origin }}</nz-timeline-item>
        <nz-timeline-item [nzColor]="'red'">{{ trip.address_delivery }}</nz-timeline-item>
      </nz-timeline>
      <span class="card-date">Fecha: {{ trip.date_created | date:'dd-MM-yyyy' }}</span>

      <p><strong>monto:</strong> {{ trip.total}}</p>
    </nz-card>
  </div>
</div>
<div *ngIf="!userTrips[0]?.address_delivery">
  <nz-empty nzNotFoundImage="simple" />
</div>

