<div class="travel-list-container">
  <div class="travel-list" *ngIf="userTrips[0]?.address_delivery">
    <nz-card *ngFor="let trip of userTrips" class="card">
      <div class="card-header">
        <span class="card-title">{{ userTrips[0].address_delivery }}</span>
        <span class="card-date">{{ '2023-09-15' }}</span>
      </div>
      <nz-timeline>
        <nz-timeline-item [nzColor]="'blue'">{{ trip.address_origin }}</nz-timeline-item>
        <nz-timeline-item [nzColor]="'red'">{{ trip.address_delivery }}</nz-timeline-item>
      </nz-timeline>
      <p><strong>monto:</strong> {{ trip.amount }}</p>
    </nz-card>
  </div>
</div>
<nz-empty nzNotFoundImage="simple" />
