<page-header [title]="'Tarifas De Viaje'" />
<nz-collapse nzAccordion>
  <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active">
    <nz-card [nzBordered]="false">
      <form nz-form [formGroup]="panel.form" (ngSubmit)="submit(panel.form, panel.name)" se-container="1" labelWidth="300">
        <se label="Nombre" error="error" required>
          <input nz-input formControlName="name" placeholder="" />
        </se>
        <se label="Tipo de tarifa" error="error" required>
          <input nz-input formControlName="type_rate" placeholder="" />
        </se>
        <se label="Tipo de viaje" error="error" required>
          <input nz-input formControlName="type_trip" placeholder="" />
        </se>
        <se label="Valor por kilómetro" error="error" required>
          <input nz-input formControlName="value_km" placeholder="" />
        </se>
        <se label="Valor por minuto:" error="error" required>
          <input nz-input formControlName="value_minute" placeholder="" />
        </se>
        <se label="Valor base:" error="error" required>
          <input nz-input formControlName="value_base" placeholder="" />
        </se>
        <se label="Valor por cancelación:" error="error" required>
          <input nz-input formControlName="value_cancel" placeholder="" />
        </se>
        <se label="Valor operacional:" error="error" required>
          <input nz-input formControlName="value_operational" placeholder="" />
        </se>
        <se>
          <button nz-button class="ml-sm">Guardar</button>
        </se>
      </form>
    </nz-card>
  </nz-collapse-panel>
</nz-collapse>
